#pc 
{
    background-color: #ff4603f8;
    /* background-color: #38B5FA; */
}

.pro_container 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.left 
{
    width: 25%;
    border: 1px solid #c5c5c567;
}

.right
{
    width: 73%;
    border: 1px solid #c5c5c567;
}

.gam_header 
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    line-height: 50px;
    background-color: #ff4603f8;
    position: sticky;
    top: 74px;
    z-index: 100;
}

.sort_con 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.sort_con button 
{
    width: 30px;
    height: 30px;
    padding: 5px;
    background: none;
    border: 1px solid #00000028;
    transition: .5s;
    border-radius: 3px;
}

.sort_con button:hover 
{
    background-color: #38B5FA;
    border: none;
}

.sort_con img 
{
    width: 100%;
}

.pc_product,.laptops_product,.motherboards_product,.monitors_product
{
    width: 100%;
    padding: 15px;  
}


