@media (max-width: 600px) {

    header 
        {
            display: block;

            .hr1 
            {
                width: 40%;

                h1 {
                    font-size: 35px;
                    line-height: 35px;
                }

                span {
                    width: 100%;
                    font-size: 13px;
                    padding: 0;
                }
            }

            .hr3 
            {
                width: 45%;
                position: absolute;
                top: 13px;
                right: 10px;

                button 
                {
                    width: 15px 15px;
                }
            }

            .hr2 
            {
                width: 100%;
                margin: 10px 0;
            }

            .menu_con 
            {
                width: 60%;
                top: 68px;
                right: 10px;
            }

            .quantities 
            {
                right: 35%;
            }

            .cart_container 
            {
                width: 80%;
                top: 68px;
                right: 10px;

                h2 
                {
                    font-size: 18px;
                    line-height: 30px;
                }

                .cart_info article
                {
                    padding-top: 5px;
                }

                .pro_quantity button 
                {
                    width: 15px 15px;
                    line-height: 20px;
                    border: none;
                    border-radius: 3px;
                }

                em 
                {
                    font-size: 15px;
                }

            }
        }

    .main {

        section 
        {
            margin: 20px auto;
        }
        .ads_img_con 
        {
            img 
            {
                height: 180px;
            }
        }

        .product_types 
        {
           display: grid;
           grid-template-columns: auto auto;
           gap: 10px;
        }

        .product_types a 
        {
            width: 100%;

            span 
            {
                font-size: 15px;
            }
        }

        .hot_product_container,.feat_product_container
        {
            border: none;
            width: 100%;
            padding: 20px 0 0 0;
            
            h2 
            {
                background-color: #38B5FA;
                padding: 10px;
                font-size: 27px;
                font-weight: bold;
            }

            .see_con 
            {
                position: absolute;
                z-index: 40;
                bottom: -35px;
            }
            .product_box 
            {
               width: auto;

               .save {
                line-height: 30px;
                font-size: 12px;
               }

               .save em 
               {
                font-size: 14px;
               }

               .pro_info 
               {
                font-size: 10px;
               }

               .buy
               {
                font-size: 10px;
                line-height: 30px;

                em {
                    font-size: 12px;
                }

                .buy_btn
                {
                    font-size: 8px;
                }

                button 
                {
                    padding: 3px 0;
                    font-size: 8px;
                    border-radius: 2px;
                }
               }

            }

            .hot_scroll,.feat_scroll
            {
                overflow: hidden;
                height: 300px;
            }

            .hot_flex,.feat_flex,.hot_grid,.feat_grid
            {
                width: 100%;
                transition: all 1s;
                display: grid;
                justify-content: space-between;
                gap: 0;
                grid-template-columns: 49% 49%;
                grid-auto-flow: row;
                border: none;
            }

            .next_btn,.back_btn,.feat_next,.feat_back 
            {
                display: none;
            }
    
        }
        
    }
}

/* @media (max-width: 600px) {
    body {
      
    }

    header 
        {
            display: block;

            .hr1 
            {
                width: 40%;

                h1 {
                    font-size: 35px;
                    line-height: 35px;
                }

                span {
                    width: 100%;
                    font-size: 13px;
                    padding: 0;
                }
            }

            .hr3 
            {
                width: 45%;
                position: absolute;
                top: 13px;
                right: 10px;

                button 
                {
                    width: 15px 15px;
                }
            }

            .hr2 
            {
                width: 100%;
                margin: 10px 0;
            }

            .menu_con 
            {
                width: 60%;
                top: 68px;
                right: 10px;
            }

            .quantities 
            {
                right: 36%;
            }

            .cart_container 
            {
                width: 80%;
                top: 68px;
                right: 10px;

                h2 
                {
                    font-size: 18px;
                    line-height: 30px;
                }

                .cart_info article
                {
                    padding-top: 5px;
                }

                .pro_quantity button 
                {
                    width: 15px 15px;
                    line-height: 20px;
                    border: none;
                    border-radius: 3px;
                }

                em 
                {
                    font-size: 15px;
                }

            }
        }

    

        section 
        {
            margin: 20px auto;
        }
        .ads_img_con 
        {
            img 
            {
                height: 180px;
            }
        }

        .product_types 
        {
           display: grid;
           grid-template-columns: auto auto;
           gap: 10px;
        }

        .product_types a 
        {
            width: 100%;

            span 
            {
                font-size: 15px;
            }
        }

        .hot_product_container,.feat_product_container
        {
            border: none;
            width: 100%;
            padding: 20px 0 0 0;
            
            h2 
            {
                background-color: #38B5FA;
                padding: 10px;
                font-size: 27px;
                font-weight: bold;
            }

            .see_con 
            {
                position: absolute;
                z-index: 40;
                bottom: -35px;
            }
            .product_box 
            {
               width: auto;

               .save {
                line-height: 30px;
                font-size: 12px;
               }

               .save em 
               {
                font-size: 14px;
               }

               .pro_info 
               {
                font-size: 10px;
               }

               .buy
               {
                font-size: 10px;
                line-height: 30px;

                em {
                    font-size: 12px;
                }

                .buy_btn
                {
                    font-size: 8px;
                }

                button 
                {
                    padding: 3px 0;
                    font-size: 8px;
                    border-radius: 2px;
                }
               }

            }

            .hot_scroll,.feat_scroll
            {
                overflow: hidden;
                height: 300px;
            }

            .hot_flex,.feat_flex,.hot_grid,.feat_grid
            {
                width: 100%;
                transition: all 1s;
                display: grid;
                justify-content: space-between;
                gap: 0;
                grid-template-columns: 49% 49%;
                grid-auto-flow: row;
                border: none;
            }

            .next_btn,.back_btn,.feat_next,.feat_back 
            {
                display: none;
            }
    
        }
        
} */
